<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Edurk</title>
</head>
<body>
  <div class="container">

      <form method="post" th:action= "@{/login}">

          <input type="text" placeholder="Nome" id="name" name="name">
          <input type="password" placeholder="Senha" id="password" name="password">
          <input type="submit" value="Enviar">

      </form>

    </div>
</body>
</html>
